<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qrcodelogin.Dao.UserMapper">

    <sql id="base_column_list">
        id, account, userPwd, userName
    </sql>

    <select id="findByAccount" parameterType="Map" resultType="com.qrcodelogin.entity.User">
        select
        <include refid="base_column_list"/>
        from t_user
        where userName = #{account}
    </select>
    <insert id="regist" parameterType="com.qrcodelogin.entity.User">
        insert into t_user(userName,userPwd,account)
        values(#{user.userName},#{user.userPwd},#{user.account})
    </insert>
</mapper>